* {
    margin: 0;
}

body {
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(85,29,170,1) 0%, rgba(35,11,50,1) 82%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.business__card {
    background-color: #fff;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 24px;
    flex-wrap: wrap;
    gap: 24px;
    flex-basis: 616px;
}

.business__card--avatar {
    width: 148px;
    height: 148px;
}

.card__info {
    display: flex;
    flex-direction: column;
    flex-basis: 380px;
    gap: 24px;
    flex-grow: 1;
}

.business__card--header h4 {
    font-style: italic;
    color: #545454;
}

.business__card--content span {
    color: orange;
}

.business__card--footer span {
    color: red;
}